<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        
        color: white;
      }
      .container {
         max-width: 900px;
         margin: 50px auto;
         border: 2px solid black;
         
         text-align: center;
      }
      .table {
         
         margin: 50px auto;
         width: 100%;
         text-align: center;
      }
      a {
        color: white;
      }
      h4 {
         text-transform: uppercase;
      }
    </style>
  </head>
  <body background="http://freeimagescollection.com/images/objects/stag-table-tennis-yellow-ball-and-racket-f4.jpg">
 
  <div class="container">
       <table border="1" class="table">
        <tr>
          <th><a href="/">Register</th></a>
          <th><a href="/users/all">All Entries</th></a>
        </tr>
      </table>
      <h4>Hello {{name}}</h4>
      <table border="1" class="table">
        <tr>
          <td>Name:</td><td>{{name}}</td>
        </tr>
        <tr>
          <td>Contact Number:</td><td>{{contact}}</td>
        </tr>
        <tr>
          <td>Type</td><td>{{game_type}}</td>
        </tr>
        <tr>
          <td><a href="/users/edit/{{id}}"><button>Edit</button></a></td>
          <td><a href="/users/delete/{{id}}"><button>Delete</button></a></td>
        </tr>
      </table>
    </div>
  </body>
</html>